*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: "Arima Madurai", cursive;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
}

.header {
    height: 100%;
    margin: 0;
}

.content {
    min-height: 100%;
    animation: extend 0.5s ease-in-out forwards;
    animation-delay: 3.5s;
    margin-top: 100vh;
}

.content-part {
    height: 20vh;
    background-color: yellow;
    color: black;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-part h1 {
    visibility: hidden;
}

.content-part:hover h1 {
    visibility: visible;
    animation: blur-bg 0.5s ease-in-out forwards;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    animation: minimize-blur 0.5s ease-in-out forwards;
    animation-delay: 3.5s;
}

.language-switcher {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    width: 11rem;
    height: 3rem;
}

.language-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
}

.language-container a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    background-color: lightskyblue;
    border-radius: 0.5rem;
    width: 100%;
    height: 1.4rem;
    text-align: center;
    line-height: 1.4rem;
}

.text {
    user-select: none;
}

.link {
    display: block;
    font-family: "Courier New", Courier, monospace;
    font-size: 4rem;
    text-decoration: none;
    user-select: none;
    color: unset;
    border-right: 0.25rem solid lightskyblue;
    overflow: hidden;
    width: 0%;
    animation: typing 2.5s steps(9, start) forwards, blinking-cursor 1s step-end 1, blinking-cursor 0.28s step-start 8, blinking-cursor 1s step-end infinite;
    animation-delay: 1s, 0s, 1s, 3.5s;
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
    }
}

@keyframes minimize-blur {
    from {
        height: 100%;
    }
    to {
        height: 20%;
    }
}

@keyframes extend {
    from {
        margin-top: 100vh;
    }
    to {
        margin-top: 20vh;
    }
}

@keyframes blur-bg {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes blinking-cursor {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: lightskyblue;
    }
}

/* Tamil */
@font-face {
    font-family: "Arima Madurai";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Arima Madurai Medium"), local("ArimaMadurai-Medium"), url(tamil.woff2) format("woff2");
    unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}

/* Latin */
@font-face {
    font-family: "Arima Madurai";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Arima Madurai Medium"), local("ArimaMadurai-Medium"), url(latin.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
