*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
.container {
    height: 100%;
    margin: 0;
}

.container {
    font-family: sans-serif, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.language-switcher {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    width: 11rem;
    height: 3rem;
}

.language-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
}

.language-container a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    background-color: lightskyblue;
    border-radius: 0.5rem;
    width: 100%;
    height: 1.4rem;
    text-align: center;
    line-height: 1.4rem;
}

a[href="ta"] {
    font-weight: bold;
}

.link {
    display: block;
    font-family: monospace, monospace;
    font-size: 4rem;
    text-decoration: none;
    color: unset;
    border-right: 0.25rem solid lightskyblue;
    overflow: hidden;
    width: 0%;
    animation: typing 2.5s steps(9, start) forwards,
    blinking-cursor 1s step-end 1,
    blinking-cursor 0.28s step-start 8,
        blinking-cursor 1s step-end infinite;
    animation-delay: 1s, 0s, 1s, 3.5s;
}

@media (prefers-color-scheme: dark) {
    .container {
        background: black;
        color: white;
    }
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes blinking-cursor {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: lightskyblue;
    }
}
